<div class="auth-wrapper d-flex no-block justify-content-center align-items-center" style="background:url(assets/images/big/auth-bg.jpg) no-repeat center center;">
    <div class="auth-box">
        <div>
            <div class="logo">
                <span class="db"><img src="assets/images/logo-icon.png" alt="logo" /></span>
                <h5 class="font-medium m-b-10 m-t-5">Sign Up to City Stars</h5>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 m-t-10 text-center">
                    <div class="social">
                        <a href="{{baseUrl}}/login/facebook" class="btn btn-facebook m-r-5" data-toggle="tooltip" title="" data-original-title="Login with Facebook"> <i aria-hidden="true" class="fab fa-facebook"></i> </a>
                        <a href="{{baseUrl}}/login/google" class="btn btn-googleplus" data-toggle="tooltip" title="" data-original-title="Login with Google"> <i aria-hidden="true" class="fab fa-google-plus"></i> </a>
                    </div>
                </div>
            </div>
            <!-- Form -->
            <div class="row">
                <div class="col-12">
                    <form name="profileForm" #profileForm="ngForm" (ngSubmit)="profileForm.form.valid && onSubmit(profileForm)" novalidate class="form-horizontal m-t-20">
                        <div class="form-group row ">
                            <div class="col-12 ">
                                <input class="form-control form-control-lg" name="name" type="text" [(ngModel)]="user.name" #name="ngModel" placeholder="Name" [ngClass]="{ 'is-invalid': profileForm.submitted && name.invalid }" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-12 ">
                                <input class="form-control form-control-lg" name="email" type="text" [(ngModel)]="user.email" #email="ngModel" placeholder="Email" [ngClass]="{ 'is-invalid': profileForm.submitted && email.invalid }" required email>
                                <div *ngIf="(profileForm.submitted) && email.invalid" >
                                    <span class="text-danger" *ngIf="email.errors?.email">Invalid format! Should be in email format
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-12 ">
                                <input class="form-control form-control-lg" name="password" type="password" [(ngModel)]="user.password" #password="ngModel" [ngClass]="{ 'is-invalid': profileForm.submitted && password.invalid }" required placeholder="Password">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-12 ">
                                <input class="form-control form-control-lg" type="password" name="confirmPassword" [(ngModel)]="user.confirmPassword" #confirmPassword="ngModel" [ngClass]="{ 'is-invalid': profileForm.submitted && confirmPassword.invalid }" required placeholder="Confirm Password">
                                <div *ngIf="(profileForm.submitted)">
                                    <span class="text-danger" *ngIf="passFlag">Password and confirm password do not match
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-12 ">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="customCheck1">
                                    <label class="custom-control-label" for="customCheck1">I agree to all <a href="javascript:void(0)">Terms</a></label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group text-center ">
                            <div class="col-xs-12 p-b-20 ">
                                <button class="btn btn-block btn-lg btn-info " type="submit ">SIGN UP</button>
                            </div>
                        </div>
                        <div class="form-group m-b-0 m-t-10 ">
                            <div class="col-sm-12 text-center ">
                                Already have an account? <a href="/login " class="text-info m-l-5 "><b>Sign In</b></a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>